body {
  margin: 0;
  padding: 0;
  font-family: 'Architects Daughter', cursive;
  font-family: 'McLaren', cursive;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#f0f0f0;
}

header
{
   background-color:DodgerBlue;
   margin:auto 0;
   padding:0.5rem 1rem;
    box-shadow: 0 2px 10px #000005;
}


.columns
{
  width: 30%;
  height: 10%;
  float:left;
  border: 0px solid;

    text-align: center;
    clear:right;
}


@media(max-width:960px)
{

  .columns
  {
    float:none;

  }

}

header h1
{
  font-family:'Architects Daughter';
  color:white;
  font-weight: bolder;
  letter-spacing: 2px;
}
header p
{
  position:relative;
  float:right;
  font-size:12px;
  top:-25px;
  z-index: 2;
  color:white;
}
form
{
  position: relative;
  min-width:30%;
  max-width:40%;
  margin: 30px auto 30px auto;
  background:#fff;
  padding:10px;
  border-radius:10px;
  box-shadow: 2px 2px 10px #ccc;
}

form input,
form textarea
{
  width:90%;
  border:none;
  padding:5px;
  margin:2px;
  font-size:1.1rem;
  font-family:inherit;
  border-radius: 10px;
  box-shadow: 1px 1px 5px #fff;
  resize:none;
}

form button
{
  background-color:DodgerBlue;
  border-radius: 50%;
  border:none;

}
.note
{
background-color:#fff;
padding:0.5rem;
width:250px;
margin:1rem;
border-radius:10px;
box-shadow: 2px 2px 10px #ccc;
float:left;
}

.note h2
{
  font-size:1.2rem;
  border-bottom:1px solid #ccc;
}
.note p
{
  font-family:'McLaren';
  font-size:1.1rem;
  word-wrap:break-word;
}
.note button
{
  border:none;
  color:white;
  float:right;
  width:20px;
  height:20px;
  background-color:DodgerBlue;
  border-radius: 50%;
}


footer
{
  text-align:center;
  height:2rem;
  position:absolute;
  bottom:0;
  width:100%;
}
footer p
{
  margin:0;
  font-size:10px;
}
